@model t6.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Users</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pwd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pwd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nick)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nick)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.QQ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.QQ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.question)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.question)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.secPwd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.secPwd)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.userid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
